.Brands {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../assets/images/brands.jpg");
    background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: var(--clr-light);
  padding: var(--navbar-height) 0;
}

.Title {
  font-size: var(--fs-h3);
  text-transform: uppercase;
  font-weight: var(--fw-semi-bold);
  margin-bottom: 1.5em;
}

.Brands__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: center;

    margin-bottom: 4rem;
}

/* Size is not responsive here!! */
.Brand__img { 
    width: 140px;
}

@media (min-width: 600px) {
    .Brands__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 900px) {
    .Brands__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    .Brands__grid {
        grid-template-columns: repeat(5, 1fr);
        row-gap: 4rem;
    }
}