.Bikes {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.WrapperSection {
  color: var(--clr-light);
  padding: calc(var(--navbar-height) + 4rem) 0;
  text-align: center;
  background-color: var(--clr-body);
  /* temporary */
  min-height: 100vh;
  /* temporary */
}

.FlexContainer {
  margin-top: 2rem;
}

.BikesDisplaySummary {
  text-align: left;
  margin: 3rem 0;
}

.BikesDisplaySummary a {
  color: var(--clr-accent);
  text-decoration: none;
}

@media (min-width: 900px) {
  .FlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* .SearchAndFilter {
    width: 28%;
  } */

  .SearchResults {
    width: 70%;
  }

  .BikesDisplaySummary {
    margin-top: 0;
  }

  /* .ButtonGroup {
    display: flex;
    flex-direction: column;
  } */
/* 
  .ButtonGroup .Button {
    display: block;
    width: 100%;
  } */
}

@media (min-width: 1200px) {
  /* .SearchAndFilter {
    width: 23%;
  } */

  .SearchResults {
    width: 73%;
  }
}
