.Section__title {
  font-size: var(--fs-h4);
  text-transform: capitalize;
  font-weight: var(--fw-normal);
  margin-bottom: 1.5em;
  display: inline-block;
  position: relative;
}

.Section__title::before {
  content: "";
  position: absolute;
  width: 80%;
  margin: 0 auto;
  height: 2px;
  top: calc(100% + 0.2em);
  left: 10%;
  background-color: var(--clr-accent);
}

.Section__highlight {
  color: var(--clr-light);
  margin-bottom: 3rem;
}


.ReviewUs {
  margin-top: 4rem;
}

.FollowUs {
  margin-top: 4rem;
}

.SocialIcons {
  display: flex;
  justify-content: center;
}


@media (min-width: 1000px) {
 .ContactWrapper {
   display: flex;
   justify-content: space-around;
 }

 .ContactUs {
   flex-basis: 45%;
 }

 .ReviewUs {
  margin-top: 0;
  flex-basis: 45%;
}

}

