.NavLinks {
  /* Need to bring it down a little? */
  margin: 0;
  /* margin-top: var(--navbar-height); */
  margin-top: 10vh;
  padding: 0;
  list-style: none;
  text-align: center;
}

.FooterNavLinks {
  margin: 0;
  text-align: right;
}

.NavLink + .NavLink {
  margin-top: .5rem;
}

.FooterNavLink + .FooterNavLink {
  margin: 0;
}

.NavLink a {
  text-decoration: none;
  text-transform: uppercase;
  /* padding: 1em; */
  color: var(--clr-black);
  font-weight: var(--fw-semi-bold);
  transition: all 200ms ease-in-out;
  display: inline-block
}

.FooterNavLink a {
  color: var(--clr-dark);
  text-transform: capitalize;
  font-weight: var(--fw-regular);
}

.NavLink__content {
  display: block;
  outline: none;
  padding: 1em;
}

.FooterNavLink .NavLink__content {
  padding: .2em;
}

.NavLink a:hover,
.NavLink a.active {
  color: var(--clr-accent);
}

.FooterNavLink a:hover,
.FooterNavLink a.active {
  color: var(--clr-light);
}


@media (min-width: 900px) {
  .NavLinks {
    display: flex;
    margin: 0;
  }

  .FooterNavLinks {
    display: block;
  }

  .NavLink + .NavLink {
    margin-top: 0;
  }

  .NavLink a {
    font-size: 0.95rem;
    color: var(--clr-dark);
  }

  .FooterNavLink a {
    font-size: 1rem;
    color: var(--clr-dark);
  }
}
