.Card {
  margin: 0;
}

.Image {
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.CardTitle {
  font-size: var(--fs-h5);
  font-weight: var(--fw-semi-bold);
  margin: 1.5em 0 1em;
}

.CardSubTitle {
  margin-top: -1em;
  color: var(--clr-dark);
}

.CardDesc {
  line-height: var(--line-height-text);
  color: var(--clr-dark);
}
