.Service {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.WrapperSection {
  color: var(--clr-light);
  padding: calc(var(--navbar-height) + 4rem) 0;
  text-align: center;
  background-color: var(--clr-body);
  /* temporary */
  min-height: 100vh;
  display: grid;
  place-items: center;
  /* temporary */
}